$primaryColor: #F5DF4E;
$secondaryColor: #2b2a2a;
$greyColor: #9E9E9E;
$blackColor: #191919;
$whiteColor: #f7f7f7;
$successColor: #28a745;
$errorColor: #dc3545;

$fwLight: 300;
$fwRegular: 400;
$fwMedium: 500;
$fwSemiBold: 600;
$fwBold: 700;

$fs-h1: 45px;
$fs-h2: 37px;
$fs-h3: 31px;
$fs-h4: 25px;
$fs-h5: 20px;
$fs-base: 18px;
$fs-sm: 16px;
$fs-xs: 14px;
$fs-xxs: 12px;

$ff-poppins: 'Poppins', sans-serif;
$ff-inter: 'Inter', sans-serif;